.CanvaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.CanvaContainer .choix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;   
}